<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>137948269951-m6o3upskif0i213l0oeckom0mqqhbkn7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137948269951-m6o3upskif0i213l0oeckom0mqqhbkn7</string>
	<key>API_KEY</key>
	<string>AIzaSyC4xkAyJNPy4xYDvKTm2dXfdyoywDJuquE</string>
	<key>GCM_SENDER_ID</key>
	<string>137948269951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.painelMentor.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mentor-construcao</string>
	<key>STORAGE_BUCKET</key>
	<string>mentor-construcao.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137948269951:ios:a4aa55fe5da2f4063d1e4a</string>
</dict>
</plist>